<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CrowdFunding Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
  <div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
          <a class="navbar-brand" href="/">WeFund</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">About Us</a>
                  </li>
              </ul>
          </div>
          <button class="btn btn-info"  type="button" data-toggle="collapse"  onclick="location.href='/insert'" style="float:right">
              Register User
          </button>
      </nav>
      <br />
      <h1>CrowdFunding Project</h1>

      <div class="jumbotron" style="padding-top: 32px">
          <p>
              CrowdFunding Project is a website where you can create projects and also fund for projects</><br />
          </p>

          <div class ="container">
              <div class="row">
                  <div class="col-sm">
                       <button class="btn btn-primary"  type="button" data-toggle="collapse"  onclick="location.href='/select'">
                          View Project List
                      </button>
                      <button class="btn btn-secondary" type="button" data-toggle="collapse" onclick="location.href='/users'" >
                          View User List
                      </button>

                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                      <button class= "btn btn-dark" type="button" data-toggle="collapse" onclick="location.href='/insertproject'" style="float:right" >
                          Create Project
                      </button>
                  </div>
              </div>

          </div>


      </div>
  </div>

  </body>
</html>
